* {
    box-sizing: border-box;
}
p, h2 {
    width: 100%;
    padding: 0 20px;
}
.ads_wraper {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    opacity: 0;
}
.ads_wraper.aniAdsFadeIn {
    animation: adsFadeIn .5s;
    opacity: 1;
}
.ads_wraper > .ads_content {
    position: relative;
    margin: 0 auto;
    width: 160px;
    height: 120px;
}
.ads_wraper > .ads_content > .ads_img {
    position: fixed;
    width: 100%;
    height: 0;
    z-index: 9998;
    padding-bottom: 115%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}
.ads_wraper > .ads_content > .adsYtPlayerWrap {
    width: 100%;
    height: 90px;
    background-color: #000000;
    background-size: cover;
    z-index: 9998;
}
.btn_ads_display, .btn_ads_close {
    position: relative;
    z-index: 9999;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    box-sizing: border-box;
    padding: 5px;
    visibility: hidden;
}
.btn_ads_display span {
    display: block;
    margin: 2px auto 0;
    width: 17px;
    height: 17px;
    background-image: url(https://s1.imgs.cc/img/aaaaaeF0z.png?_w=1200);
    background-size: cover;
}
.btn_ads_close span {
    display: block;
    margin: 33px auto 0;
    width: 17px;
    height: 17px;
    background-image: url(https://s1.imgs.cc/img/aaaaaeF0o.png?_w=1200);
    background-size: cover;
}
.btn_ads_display {
    z-index: 9997;
    width: 160px;
    height: 30px;
}
.btn_ads_close {
    position: absolute;
    top: 30px;
    right: -30px;
    width: 30px;
    height: 90px;
}
/* add displayAdsFull class */
.ads_wraper.displayAdsFull #adsYtPlayer {
    position: absolute;
    bottom: 0;
    transition: 1s;
}
.ads_wraper.displayAdsFull {
    height: 0;
    padding-bottom: 115%;
}
.ads_wraper.displayAdsFull > .ads_content {
    width: 100%;
    height: auto;
}
.ads_wraper.displayAdsFull > .ads_content > .ads_img {
    display: block;
    animation: adsBig .2s;
}
.ads_wraper.displayAdsFull > .ads_content > .adsYtPlayerWrap {
    width: 100%;
    height: 0;
    padding-bottom: 57%;
    left: 0;
    position: fixed;
    animation: adsBig .3s;
}
.ads_wraper.displayAdsFull .btn_ads_display {
    position: absolute;
    top: -30px;
    width: 100%;
    height: 30px;
    animation: adsFadeIn 1s;
}
.ads_wraper.displayAdsFull .btn_ads_display span {
    background-image: url(https://s1.imgs.cc/img/aaaaaeF0p.png?_w=1200);
    background-size: cover;
}
.ads_wraper.displayAdsFull .btn_ads_close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    animation: displayBig 2s;
}
.ads_wraper.displayAdsFull .btn_ads_close span {
    margin: 6px auto 0;
}
@keyframes adsFadeIn {
    0% {
        opacity: 0;
        height: 0;
    }
    50% {
        height: 120px;
    }
    100% {
        opacity: 1;

    }
}
@keyframes adsBig {
    0% {
        width: 160px;
        transform: translate(50%, 100%);
    }
    100% {
        width: 100%;
        transform: translate(0, 0);
    }
}

#floatReply-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    background: #dd11dc;
    padding: 2%;
}
#floatReply-container input {
    display: inline-block;
    width: 70%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
}
#floatReply-container button {
    display: inline-block;
    text-align: center;
    color: #666;
    background: #fff;
    margin-left: 2%;
    width: 24%;
    height: 35px;
}